/* 
    Document   : style.css
    Created on : 21.07.2011, 21:19:34
    Author     : duerkop
    Description:
        Purpose of the stylesheet follows.
*/

body {
    font-family: Arial, sans-serif;
}